<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= t("login.title") %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= assetPath %>/images/app-icons/ios/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 mx-auto" style="padding-top: 25px;">
        <h1><%= t("set_password.heading") %></h1>

        <% if (error) { %>
            <div class="alert alert-warning">
                <%= error %>
            </div>
        <% } %>

        <p><%= t("set_password.description") %></p>

        <form action="set-password" method="POST">
            <div class="form-group">
                <label for="password"><%= t("set_password.password") %></label>
                <div class="controls">
                    <input id="password" name="password1" placeholder="" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="password"><%= t("set_password.password-confirmation") %></label>
                <div class="controls">
                    <input id="password" name="password2" placeholder="" class="form-control" type="password">
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success"><%= t("set_password.button") %></button>
            </div>
        </form>
    </div>
</div>

<script>
    // Required for correct loading of scripts in Electron
    if (typeof module === 'object') {window.module = module; module = undefined;}
</script>

<link href="<%= assetPath %>/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>
